body {
  margin: 0;
  min-width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
  max-width: 1400px;
  height: 100px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;

}

header img {
  height: 70px;
  width: 70px;
  margin: 20px;
  object-fit: cover;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 40px;
}

nav {
  margin: 20px;
}

.user {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 60px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.user img {
  height: 150px;
  width: 150px;
  margin: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.user h1 {
  text-align: left;
}

section {
  margin-top: 20px;
  max-width: 1400px;
}

.paragraph {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;

}

section img {
  position: relative;
  width: 1400px;
  height: 100px;
  object-fit: cover;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.item-1 {
  background-image: url("./1.jpg");
  background-size: cover;
  padding-left: 20px;
  height: 300px;
  width: 300px;
  position: absolute;
  transform: translateX(-70%);
  left: 21%;
  top: 70%;
  color: whitesmoke;
}

.item-2 {
  background-image: url("./2.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  position: absolute;
  transform: translate(200px, 0px);
  left: 21%;
  top: 70%;
  color: whitesmoke;
}

.item-3 {
  background-image: url("./3.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  position: absolute;
  transform: translate(600px, 0px);
  left: 21%;
  top: 70%;
  color: whitesmoke;


}

h3 {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.galary {
  margin: 20px;
}

@media only screen and (max-width: 992px) {
  header {
    justify-content: space-around;
  }

  .user {
    gap: 30px;
  }

  section {
    max-width: 800px;
  }

  .item-1 {
    left: 35%;
    top: 80%;
    ;
  }

  .item-2 {
    left: 35%;
    top: 80%;
    ;
  }

  .item-3 {
    left: -35%;
    top: 120%;
    ;
  }
}



@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .user {
    display: block;
    text-align: center;
  }

  .user h1 {
    text-align: center
  }

  .paragraph {
    text-align: center;
  }

  section img {
    padding-left: 0px
  }

  .item-1 {
    left: 55%;
    top: 85%;
    min-width: 300px;
    ;
  }

  .item-2 {
    left: -2%;
    top: 125%;
    min-width: 300px;
    ;
  }

  .item-3 {
    left: -57%;
    top: 165%;
    min-width: 300px;
    ;
  }
}